html{
	font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: 'Roboto Mono', monospace;
}

#dot{
color:rgb(0,255,42);
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #e6e6e6;
  padding: 0 20px 20px 20px;
 /* border: 5px solid black;*/
}


h1 {
  font-size: 60px;
  text-align: center;
	color:rgb(23,23,68);
}

table{
color:rgb(110, 120,255);
width:800px;
text-align:center;
}

p, li  {
  font-size: 16px;    
  line-height: 2;/*
  letter-spacing: 1px;*/
	color:rgb(23,23,68);
}


th, td {
        font-size: 16px;
   /* line-height: 2;
    letter-spacing: 1px;*/
	 padding: 5px;
         text-align:justify
         }

#links, a{
 rowspan ="4";
 padding: 5px;
text-align:center;
}

.center {
	width:600px;
   margin-left:auto; 
   margin-right:auto;
	text-align:center;
 }

li:hover{
color:rgb(0,255,42)
}
